<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Side Quests</title>
        <script src="index.js" defer></script>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <button id="menu-trigger">☰</button> <!-- Hamburger icon -->
            <h1>Side Quest</h1>
            <div class="user-login">
                <input type="text" placeholder="Username">
                <button>Login</button>
            </div>
        </header>

        <div id="menu-container">
            <div id="menu-content">
                <a href="">Home</a>
                <a href="task">Tasks</a>
                <a href="hello_there">Character</a>
            </div>
        </div>

        <main>
            <section id="game"> </section>
            <section id="widgets">
                <div><a href="task">Tasks</a></div>
                <div><a href="">Quests</a></div>
                <div><a href="hello_there">Character Info</a></div>
            </section>
        </main>
    </body>
</html>