<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Side Quests</title>
    </head>
    <body>
        <script src="ss"></script>
        <header>

        </header>
        <main>
            <section id="game">

            </section>
            <section id="widgets">
                <div><a href="/">Tasks</a></div>
                <div><a href="/">Quests</a></div>
                <div><a href="/">Character Info</a></div>
            </section>
        </main>
    </body>
</html>
