<!-- templates/register.html -->
{% extends "./master.html" %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block mainTitle %}
    Register
{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'sidequest/form.css' %}?6282024">
{% endblock %}

{% block content %}  
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
    </div>
{% endblock %}