<!-- login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <h2>Add User</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% for field in form %}
            {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit">Add User</button>
    </form>
    <a href="sidequest/login.html">login</a>
</body>
</html>
