<!-- character_roll.html -->

<h1>Character Attributes</h1>
<ul>
    <li>Strength: {{ random_numbers.strength }}</li>
    <img src="/sidequest/img/{{ random_numbers.strength }}.gif" alt="Random Gif">
    <li>Dexterity: {{ random_numbers.dexterity }}</li>
    <img src="/sidequest/img/{{ random_numbers.dexterity }}.gif" alt="Random Gif">
    <li>Constitution: {{ random_numbers.constitution }}</li>
    <img src="/sidequest/img/{{ random_numbers.constitution }}.gif" alt="Random Gif">
    <li>Intelligence: {{ random_numbers.intelligence }}</li>
    <img src="/sidequest/img/{{ random_numbers.intelligence }}.gif" alt="Random Gif">
    <li>Wisdom: {{ random_numbers.wisdom }}</li>
    <img src="/sidequest/img/{{ random_numbers.wisdom }}.gif" alt="Random Gif">
    <li>Charisma: {{ random_numbers.charisma }}</li>
    <img src="/sidequest/img/{{ random_numbers.charisma }}.gif" alt="Random Gif">
</ul>