{% extends "./master.html" %}
{% load static %}

{% block title %} Side Quest {% endblock %}
{% block mainTitle %} Side Quest {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'sidequest/index.css' %}?07012024">
{% endblock %}

{% block content %}   
    <section id="game">
        <div class="background-img">
            <img src="{% static 'sidequest/img/origbig.png'%}?07012024" alt="background image">
            <img src="{% static 'sidequest/img/origbig.png'%}?07012024" alt="background image">
            <img src="{% static 'sidequest/img/origbig.png'%}?07012024" alt="background image">
            <img src="{% static 'sidequest/img/origbig.png'%}?07012024" alt="background image">
            <img src="{% static 'sidequest/img/origbig.png'%}?07012024" alt="background image">
            <img src="{% static 'sidequest/img/origbig.png'%}?07012024" alt="background image">
        </div>
          
        <div id="hero">
            <img class='run pixelArt' src="{% static 'sidequest/img/Run.png'%}" alt="warrior">
        </div>
        <div class="banner">
            <h3>Welcome to Side Quests</h3>
            <p>This is a game to help you in real life!</p>
            <a href="login">Log in to play</a>
        </div>
    </section>
    
{% endblock %}