{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'sidequest/styles.css' %}">
        <script src="{% static 'sidequest/index.js' %}" defer></script>
        {% block links %}
        {% endblock %}
    </head>
    <body>
        <header>
            <button id="menu-trigger">☰</button> <!-- Hamburger icon -->
            <h1>Side Quest</h1>
            <div class="user-login">
                <input type="text" placeholder="Username">
                <button>Login</button>
            </div>
        </header>

        <div id="menu-container">
            <div id="menu-content">
                <a href="">Home</a>
                <a href="task">Tasks</a>
                <a href="character_info">Character</a>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>