<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <button id="menu-trigger">☰</button> <!-- Hamburger icon -->
            <h1>Side Quest</h1>
            <div class="user-login">
                <input type="text" placeholder="Username">
                <button>Login</button>
            </div>
        </header>

        <div id="menu-container">
            <div id="menu-content">
                <a href="">Home</a>
                <a href="task">Tasks</a>
                <a href="hello_there">Character</a>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <script>
            const menuContainer = document.getElementById('menu-container');
            const menuTrigger = document.getElementById('menu-trigger');

            menuTrigger.addEventListener('click', () => {
                if (menuContainer.style.left === '0px') {
                    menuContainer.style.left = '-250px';
                    menuTrigger.style.color = "black"
                } else {
                    menuContainer.style.left = '0px';
                    menuTrigger.style.color = "white"
                }
            });
        </script>
    </body>
</html>