{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'sidequest/styles.css' %}?6282024">
        <script src="{% static 'sidequest/index.js' %}" defer></script>
        {% block links %}
        {% endblock %}
    </head>
    <body>
        <header>
            <button id="menu-trigger">☰</button> <!-- Hamburger icon -->
            <h1><a href="home">{% block mainTitle %}{% endblock %}</a></h1>
            <div class="user-login">
                <button><a href="{% url 'login' %}">Login</a></button>
                <button><a href="{% url 'register' %}">Sign In</a></button>
            </div>
        </header>

        <div id="menu-container">
            <div id="menu-content">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'task' %}">Tasks</a>
                <a href="{% url 'character' %}">Character</a>
            </div>
        </div>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>