<!-- task creation page -->
{% extends "./master.html" %}
{% load static %}

{% block title %} Tasks {% endblock %}
{% block mainTitle %} Tasks {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'sidequest/task.css' %}?6282024">
{% endblock %}

{% block content %}

    
        <div class="task-box">
            <div class="box current-task">
                <h2>Current Tasks</h2>
                <ul>
                    {% for task in tasks %}
                        {% if not task.completed %}
                            <li>{{ task.task_name }}: {{ task.task_description }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="box past-tasks">
                <h2>Past Tasks</h2>
                <ul>
                    {% for task in tasks %}
                        {% if task.completed %}
                            <li>{{ task.task_name }}: {{ task.task_description }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    
{% endblock %}