{% extends "./master.html" %}
{% load static %}

{% block title %}
    Tasks
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'sidequest/task.css' %}">
{% endblock %}

{% block content %}   
    <main>
        <div class="task-box">
            <div class="box current-task">
                <h2>Current Tasks</h2>
                <ul>
                    {% for task in tasks %}
                        {% if not task.completed %}
                            <li>{{ task.task_name }}: {{ task.task_description }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="box past-tasks">
                <h2>Past Tasks</h2>
                <ul>
                    {% for task in tasks %}
                        {% if task.completed %}
                            <li>{{ task.task_name }}: {{ task.task_description }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <a href="{% url 'task_creation' %}" class="button">Create New Task</a>
        </div>
    </main>
{% endblock %}
