#game {
    display: flex;
    overflow: hidden;
    height: 500px;
    width: 1350px;
    position: relative; 
    margin: 0 auto;
    border-radius: 16px;
}

:root {
    --pixel-size: 6;
}

#hero, #monster {
    width: calc(95px * var(--pixel-size));
    height: calc(80px * var(--pixel-size));
    overflow: hidden;
    z-index: 100;
    margin-top: 6em;
}

.warrior { /*idle*/
    animation: moveSpriteSheet 1s steps(6) infinite;
    width: calc(700px * var(--pixel-size));
}
.run { /*run*/
    animation: moveSpriteSheet 1s steps(8) infinite;
    width: calc(700px * var(--pixel-size));
}

.skeleton {
    /* animation: reverseMoveSpriteSheet 1s steps(4) infinite; */
    width: calc(500px * var(--pixel-size));
}

.background-img {
    animation: reverseMoveSpriteSheet 20s linear infinite;
    position: absolute; 
    white-space: nowrap;
}

.background-img img {  
    height: 500px;  
    margin: 0 -0.5em; 
}

.banner {
    position: absolute;
    top: 25%;
    right: 15%;
    background-color: aliceblue;
    padding: 20px 40px 40px;
    font-size: 1.5em;
    border-radius: 16px;
    text-align: center;
}
.banner a{
    font-size: .8em;
}

.pixelArt {
    image-rendering: pixelated;
}

#widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0;
}

#widgets div {
    padding: 50px;
    text-align: center;
    align-content: center;
    border-radius: 16px;
    background-color: rgb(221, 221, 221);
    width: 80px;
    height: 80px;
}

@keyframes moveSpriteSheet {
    from {
        transform: translate3d(0px, 0, 0)
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes reverseMoveSpriteSheet {
    from {
        transform: translate3d(0px, 0, 0)
    }
    to {
        transform: translate3d(-50%, 0, 0);
    }
}