body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
    color:#111;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 10px;
    color: #fff;
    position: relative;
    z-index: 1001;
}

header h1{
    color: #111;
}

.user-login {
    justify-self: right; /* Center the login elements */
}

.user-login input {
    padding: 5px;
    margin-right: 5px;
}

.user-login button {
    padding: 5px;
}

#menu-container {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    width: 250px;
    height: 100%;
    background-color: #111; /* Black background */
    color: #fff; /* White text */
    transition: left 0.5s;
    z-index: 1000;
}

#menu-content {
    padding: 20px;
}

#menu-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

#menu-trigger {
    font-size: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: black;
    justify-self: left; /* Center the hamburger icon */
}

#menu-trigger:hover {
    background-color: blanchedalmond;
    color: white;
}
    